@font-face {
  font-family: 'ITC Machine Regular';
  src: url('./fonts/ITC\ Machine\ Regular.otf');
}

:root {
  background-color: navy;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  justify-items: center;
  gap: 30px;
}

h1 {
  font-family: 'ITC Machine Regular', Arial, Helvetica, sans-serif;
  font-size: 4rem;
}

.enter-name {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 10px;
  justify-items: center;
}

button {
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.message-box {
  font-size: 1.5rem;
  display: grid;
  grid-template-rows: max-content, max-content;
  justify-items: center;
}

.game-content {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-evenly;
  font-family: 'ITC Machine Regular', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 1px;
}

#player .cell {
  cursor: auto;
}

.cell {
  background-color: white;
  cursor: pointer;
}

.ship {
  background-color: gray;
}

.attacked {
  background-image: url(./img/alpha-x.svg);
  cursor: auto;
}

.hit {
  background-color: #ff6161;
}
